
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
  min-width: 350px;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 222 84% 5%; /* Bluish Black */
    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;
    --primary: 25 95% 53%; /* Orange */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 84% 5%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%; /* Darker for better contrast */
    --accent: 210 40% 96.1%;
    --accent-foreground: 222 84% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 25 95% 53%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
